# Xcode / macOS
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

# 大体积渲染资源 (避免撑爆 GitHub)
*.hdr
*.exr
*.obj
*.fbx
*.png
*.jpg
*.tga
*.bin
